@media screen and (max-width: 953px) {
  body {
    background: linear-gradient(to right, white, blue);
    #main {
      border: 2px solid white;
      height: 600px;
      width: 80%;
      margin-top: 50px;
      background-color: white;
      border-radius: 10px;
      background-color: rgb(72, 108, 255);
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .hourly {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 600px;
    }
  
    .hour {
      height: 100px;
      width: 100%;
      border: 1px solid white;
      border-radius: 10px;
      margin: 5px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  }


/* 
@media screen and (max-width: 509px) {
  #main {
    border: 2px solid white;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    background-color: rgb(72, 108, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} */
